
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
	color: #eee;
	text-align: center;
	padding-bottom: 10px;
}
h4 {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
#wrapper {
    width: 100%;
    background: rgb(43, 51, 62);
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: rgb(240, 240, 240);
}

#page-inner {
    width: 100%;
    background-color: #fff!important;
    min-height: 1200px;
   
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(161, 161, 161);
    margin-bottom: 10px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed rgb(51, 51, 51);

}

.container {
    width: 90%;

  }



/*==============================================
    MENU STYLES    
    =============================================*/
.first-menu{
    font:20px 'Microsoft YaHei';
    font-weight: bold;
}
.nav-pills{
	height:85px;
}
.header-left li{
	 list-style-type:none;
}
.header-left{
    padding:0px 3em 0 1.5em;
    display: inline-block;
}

#top-menu a:link {
    color:#bbb;
}   

#top-menu a:visited {
    color:#bbb;
}   
#top-menu a:hover {
	background-color:rgb(245, 239, 239);
}
.navbar-cls-top .navbar-brand {
    color: #fff;
    background: rgb(43, 51, 62);
    text-align: center;
    width: 260px;
    height: 85px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform:uppercase;
    display: inline-block;
}

.navbar-brand{
    padding: 0;
    margin: 0;
}

.header-right {
    color: #fff;
    padding: 15px 50px 5px 20px;
    float: right;
    font-size: 16px;
}

.navbar-cls-top .navbar-brand:hover {
    background: rgb(43, 51, 62);
    color: #000;
    
}
.navbar-cls-top{
    box-shadow:0 0 10px 0 rgb(192, 192, 192);
}


#ph{
    height: 181px;
}

.active-menu {
    font-size: 1.5em;
}
.active-menu-top {
    background-color: #000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 55px;
    }

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

    .sidebar-collapse .nav {
        padding: 0;
    }
.nav li{
	padding: 15px 40px;
}
        .sidebar-collapse .nav > li > a {
            color: rgb(216, 222, 231);
            background: rgb(43, 51, 62);
            text-shadow: none;
            padding: 15px 40px;
            border-bottom: 1px solid #2F2E31;
            text-decoration:none;
        }

    .sidebar-collapse > .nav > li > a {
        padding: 15px 10px;
    }

    .sidebar-collapse .nav > li > a:hover,
    .sidebar-collapse .nav > li > a:focus {
        background: rgb(32, 36, 53);
        outline: 0;
    }



.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: rgb(43, 51, 62);
}

.navbar-cls-top {
    background: 	#fff;
    border-bottom: none;
}


.navbar-default {
    border: 0px solid black;
}

.navbar-header {
    background: #000000;
    height: 220px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

.nav > li > a > i {
    margin-right: 10px;
}

#down{
    margin: 0 0 0 120px;
}

/*==============================================
    FOOTER  STYLES    
    =============================================*/
#footer-sec {
    background-color:#000;
    padding:20px 50px;
    color:#fff;
    font-size:12px;
}

    #footer-sec a {
        color:#fff;
    }
    #footer-sec a:hover,a:focus {
        color:#fff;
        text-decoration:none;
    }
/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media (min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

    .navbar {
        border-radius: 0px;
    }
}
