html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: "\5B8B\4F53";
}

.container {
    padding-top: 9.6mm;
    padding-bottom: 10mm;
    background-color: #fff;
    margin-left: 25%;
    width: 210mm;
    height: 272mm;
}

#downloadPdf {
    width: 270px; /* 宽度 */
    height: 40px; /* 高度 */
    border-width: 0px; /* 边框宽度 */
    border-radius: 3px; /* 边框半径 */
    background: #1E90FF; /* 背景颜色 */
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei; /* 设置字体 */
    color: white; /* 字体颜色 */
    font-size: 17px; /* 字体大小 */
}

#downloadPdf:hover { /* 鼠标移入按钮范围时改变颜色 */
    background: #5599FF;
}

.mid {
    padding-top: 40px;
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 23px;
    color: #000;
    font-size: 28px;
}

.underline {
    float: left;
    top: 20px;
    text-align: center;
}

.word {
    float: left;
}

.header {
    width: 560px;
    margin: 0 auto;
    padding-bottom: 22px;
}

.header .header-left {
    float: left;
}

.header .header-right {
    float: right;
}

.body {
    width: 560px;
    height: 750px;
    border: 1px solid black;
    margin: 0 auto;
}

.body .body-first {
    height: 31px;
    width: 560px;
    border-bottom: 1px solid black;
    text-align: center;
}

.body .body-first .body-first-number {
    height: 31px;
    border-right: 1px solid black;
    line-height: 31px;
    float: left;
}

.nothing {
    height: 31px;
    width: 102px;
    float: left;
    border-right: 1px solid black;
}

.body .body-second {
    line-height: 21px;
    padding: 0 8px;
    border-bottom: 1px solid black;
}

.body .body-third-left {
    height: 205px;
    width: 280px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    float: left;
}

.word-normal {
    font-size: 12px;
    line-height: 16px;
    padding: 0 8px;
}

.word-normal-np {
    font-size: 12px;
    line-height: 20px;
    float: left;
}

.px {
    padding-left: 74px;
}

.word-bold {
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    padding: 0 8px;
    color: black;
}

.date {
    width: 220px;
    height: 20px;
    float: left;
}

.date1 {
    float: left;
}

.body .body-third-right {
    height: 205px;
    width: 279px;
    border-bottom: 1px solid black;
    float: left;
}

.body .body-third-right-wall {
    height: 68px;
    width: 279px;
    float: left;
}

.body .body-fourth-left {
    height: 170px;
    width: 280px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    float: left;
}

.body .body-fourth-right-wall {
    height: 40px;
    width: 279px;
    float: left;
}

.body .body-fourth-right {
    height: 170px;
    width: 279px;
    float: left;
    border-bottom: 1px solid black;
}

.body .body-fifth-left {
    height: 170px;
    width: 280px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    float: left;
}

.body .body-fifth-right {
    height: 170px;
    width: 279px;
    float: left;
    border-bottom: 1px solid black;
}

.body .body-sixth-left {
    height: 170px;
    width: 280px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    float: left;
}

.body .body-sixth-right {
    height: 170px;
    width: 279px;
    float: left;
    border-bottom: 1px solid black;
}

.buttom {
    width: 562px;
    margin: 0 auto;
    line-height: 20px;
    font-size: 15px;
    padding: 0 12px;
}

.cachet5 {
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0.7;
    border-radius: 77%;
    top: 113px;
    margin: 0;
}

.cachet1 {
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0.7;
    border-radius: 77%;
    top: 273px;
    margin: 0;
}

.cachet2 {
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0.7;
    border-radius: 77%;
    top: 446px;
    margin: 0;
}

.cachet3 {
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0.7;
    border-radius: 77%;
    top: 616px;
    margin: 0;
}

.cachet4 {
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0.7;
    border-radius: 77%;
    top: 786px;
    margin: 0;
}

.fontBlue {
    height: 30px;
    width: 60px;
    font-size: 16px;
    line-height: 30px;
    border: 2px solid blue;
    color: blue;
    text-align: center;
    font-weight: bold;
    float: left;
}
.fontWhite{
    height: 33px;
    width: 60px;
    font-size: 16px;
    line-height: 33px;
    border: 2px solid white;
    text-align: center;
    font-weight: bold;
    float: left;
}